/* Container for the entire resource management section */
.resource-management-container {
  padding: 20px;
  background-color: #f0f2f5; /* Light grey background for contrast */
}

/* Header for the resources table, similar to a table header */
.resources-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ddd; /* Slightly darker grey for headers */
  border-radius: 4px;
}

.header-item {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.logout-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Individual resource items, representing rows in the table */
.resource-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

.resource-name,
.resource-capacity,
.resource-available,
.resource-actions {
  flex: 1;
  text-align: center;
}

.resource-request-input {
  flex: 1;
  margin: 0 10px; /* Space between input and adjacent elements */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button styles for actions */
.resource-actions button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resource-actions button:hover {
  background-color: #0056b3;
}

/* User management forms, similar to login forms */
.add-user-to-project-container,
.remove-user-from-project-container {
  margin-top: 20px;
}

.add-user-to-project-form button,
.remove-user-from-project-form button,
.remove-user-from-project-final-form button {
  margin: 10px auto 0; 
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
}

.add-user-to-project-form,
.remove-user-from-project-form,
.remove-user-from-project-final-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.add-user-to-project-form h2,
.remove-user-from-project-form h2,
.remove-user-from-project-final-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* Styling for the Project Info display */
.project-info-container {
  background-color: #e9ecef; /* Light grey background for the container */
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
  color: #333;
}

/* Individual details of the project info */
.project-info-detail {
  margin-bottom: 5px; /* Spacing between details */
}

/* Key-Value pair styling */
.project-info-key {
  font-weight: bold; /* Make keys bold */
}

.project-info-value {
  margin-left: 5px; /* Space between key and value */
}
